@font-face {
    font-family: bebasneue;
    src: url(../fonts/BebasNeue-Regular.ttf);
    font-weight: normal 400;
}

@font-face {
    font-family: bebasneue;
    src: url(../fonts/BebasNeue-Bold.ttf);
    font-weight: bold 700;
}

@font-face {
    font-family: bebasneue;
    src: url(../fonts/BebasNeue-Light.ttf);
    font-weight: light 300;
}

@font-face {
    font-family: fontawesome;
    src: url(../fonts/FontAwesome-webfont.ttf);
    font-weight: normal 400;
}

@font-face {
    font-family: lato;
    src: url(../fonts/lato-bold.ttf);
    font-weight: bold 700;
}

@font-face {
    font-family: lato;
    src: url(../fonts/lato-bolditalic.ttf);
    font-weight: bold 700;
    font-style: italic;
}

@font-face {
    font-family: lato;
    src: url(../fonts/lato-regular.ttf);
    font-weight: normal 400;
}

@font-face {
    font-family: lato;
    src: url(../fonts/lato-black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: lato;
    src: url(../fonts/lato-blackitalic.ttf);
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: lato;
    src: url(../fonts/lato-semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: lato;
    src: url(../fonts/lato-semibolditalic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: aleks;
    src: url(../fonts/aleksandracregular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: aq;
    src: url(../fonts/aquarion.ttf);
    font-weight: 400;
}

@font-face {
    font-family: fantom;
    src: url(../fonts/fantom.ttf);
}
