@font-face {
    font-family: bebasneue;
    src: url(../fonts/BebasNeue-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: bebasneue;
    src: url(../fonts/BebasNeue-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: bebasneue;
    src: url(../fonts/BebasNeue-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: fontawesome;
    src: url(../fonts/FontAwesome-webfont.ttf);
    font-weight: normal 400;
}

@font-face {
    font-family: lato;
    src: url(../fonts/lato-black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: aleks;
    src: url(../fonts/aleksandracregular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: aq;
    src: url(../fonts/aquarion.ttf);
    font-weight: 400;
}
