/*Глобальные стили*/

*,
:before,
:after {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit
}

body {
    // background
    background-image: -webkit-linear-gradient(top, #EBEBEB 0%, #DCDDDF 48%, #C4C5C7 99%);
    background-image: linear-gradient(-180deg, #EBEBEB 0%, #DCDDDF 48%, #C4C5C7 99%);
    // end background
    margin: 20px 100px 20px 100px;
    padding: 0;
    height: 100%;
    font-family: bebasneue lato fontawesome aq aleks;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}


/* вставка для imput, для заполнения пустых полей */

body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:invalid,
body textarea:required:invalid {}


/* отмена выделения */

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


/* для отмены выделения */

.img_info {
    margin-left: 0;
    padding-left: 0;
}


/* чтоб анимация загружалась равномерно 
после загрузки страницы */

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.preload * {
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -ms-transition: all 0s linear;
    -o-transition: all 0s linear;
}


/* ПОЕХАЛИ */

// nav styles
nav {
    position: fixed;
    left: 10px;
    top: 24%;
    font-family: lato;
}

.menu__list {
    padding: 0;
    list-style: none;
}

.menu__link {
    display: block;
    padding: 1em;
    cursor: pointer;
}

.menu__link:hover,
.menu__link:focus {
    outline: none;
    text-decoration: none;
}

//styles nav animation
.menu--iris .menu__item {
    margin: 0 1em;
}

.menu--iris .menu__link {
    position: relative;
    text-align: center;
    color: #b5b5b5;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.menu--iris .menu__link:hover,
.menu--iris .menu__link:focus {
    color: #929292;
}

.menu--iris .menu__item--current .menu__link {
    color: black;
}

.menu--iris .menu__link::before,
.menu--iris .menu__link::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 0;
    border: 2px solid #FFC600;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
}

.menu--iris .menu__link::before {
    top: 0;
    left: 0;
    border-width: 2px 0 0 2px;
    -webkit-transform: translate3d(10px, 10px, 0);
    transform: translate3d(10px, 10px, 0);
}

.menu--iris .menu__link::after {
    right: 0;
    bottom: 0;
    border-width: 0 2px 2px 0;
    -webkit-transform: translate3d(-10px, -10px, 0);
    transform: translate3d(-10px, -10px, 0);
}

.menu--iris .menu__item--current .menu__link::before,
.menu--iris .menu__item--current .menu__link::after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

//end nav
//orange block turn
.cl-effect-2 span {
    position: relative;
    background: #FFC600;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.cl-effect-2 span::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFC600;
    content: attr(data-hover);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.cl-effect-2 span:hover,
.cl-effect-2 span:focus {
    transform: rotateX(90deg) translate(0, -22px);
}

.cl-effect-2 span:hover span::before,
.cl-effect-2 span:focus span::before {
    background: #FFC600;
}

//end orange block turn
