$orange: #fed200;
$blue: #006c90;
@import 'modules';
@import 'fonts';
header {
    height: 180px;
    margin: 0 -130px 0 -130px;
    padding: 0 0 0 0;

    text-align: center;

    border-bottom: 2px solid #eee;
    background: url(../img/head4.png) repeat;
}

.wrap-header-info {
    height: inherit;
    margin: auto;
    padding-top: 45px;
}

a {
    font-weight: 800;

    color: #006c90;
    text-shadow: none;
}

hr {
    background-color: white !important;
}

.name {
    font-family: bebasneue;

    text-align: center;
    h1 {
        font-weight: bold;

        margin: 0 0 0 0;
        padding: 5px 0 0 0;

        -webkit-animation-name: bounce;
                animation-name: bounce;
        -webkit-animation-duration: 1.5s;
                animation-duration: 1.5s;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;

        color: black;
        text-shadow: 1px 1px 1px white;
    }
}

.lines {
    font-size: 16px;
    font-weight: bold;

    position: relative;
    z-index: 10;

    display: inline-block;

    width: 110px;
    height: 25px;

    border-top: 2px solid $orange;
    border-bottom: 2px solid $orange;
    background: rgba(299, 299, 230, .8);
}

.tel {
    font-size: 20px;
    font-weight: bold;

    z-index: 11;

    margin-top: 25px;

    -webkit-animation: tel 2s ease-out forwards;
            animation: tel 2s ease-out forwards;
}

.tel:hover {
    font-size: 22px;
}

@-webkit-keyframes tel {
    100% {
        -webkit-transform: translate(0, -25px);
                transform: translate(0, -25px);
    }
}

@keyframes tel {
    100% {
        -webkit-transform: translate(0, -25px);
                transform: translate(0, -25px);
    }
}

.resume {
    position: relative;

    color: black;
    text-shadow: 1px 1px 1px white;
    b {
        position: absolute;
    }
}

/*start the resume animation*/
.t {
    -webkit-animation: t 1.2s ease-out forwards;
            animation: t 1.2s ease-out forwards;
}

.h {
    -webkit-animation: h 1.5s ease-out forwards;
            animation: h 1.5s ease-out forwards;
}

.e {
    -webkit-animation: e 1.3s ease-out forwards;
            animation: e 1.3s ease-out forwards;
}

.r {
    -webkit-animation: r 1.6s ease-out forwards;
            animation: r 1.6s ease-out forwards;
}

.e2 {
    -webkit-animation: e2 1.4s ease-out forwards;
            animation: e2 1.4s ease-out forwards;
}

.s {
    -webkit-animation: s 1.7s ease-out forwards;
            animation: s 1.7s ease-out forwards;
}

.u {
    -webkit-animation: u 1.5s ease-out forwards;
            animation: u 1.5s ease-out forwards;
}

.m {
    -webkit-animation: m 1.8s ease-out forwards;
            animation: m 1.8s ease-out forwards;
}

.e3 {
    -webkit-animation: e3 1.6s ease-out forwards;
            animation: e3 1.6s ease-out forwards;
}

@-webkit-keyframes t {
    100% {
        -webkit-transform: rotate(-70deg) translate(-4px, -36px);
                transform: rotate(-70deg) translate(-4px, -36px);
    }
}

@keyframes t {
    100% {
        -webkit-transform: rotate(-70deg) translate(-4px, -36px);
                transform: rotate(-70deg) translate(-4px, -36px);
    }
}

@-webkit-keyframes h {
    100% {
        -webkit-transform: rotate(-50deg) translate(-8px, -35px);
                transform: rotate(-50deg) translate(-8px, -35px);
    }
}

@keyframes h {
    100% {
        -webkit-transform: rotate(-50deg) translate(-8px, -35px);
                transform: rotate(-50deg) translate(-8px, -35px);
    }
}

@-webkit-keyframes e {
    100% {
        -webkit-transform: rotate(-35deg) translate(-7px, -32px);
                transform: rotate(-35deg) translate(-7px, -32px);
    }
}

@keyframes e {
    100% {
        -webkit-transform: rotate(-35deg) translate(-7px, -32px);
                transform: rotate(-35deg) translate(-7px, -32px);
    }
}

@-webkit-keyframes r {
    100% {
        -webkit-transform: rotate(-15deg) translate(-5px, -30px);
                transform: rotate(-15deg) translate(-5px, -30px);
    }
}

@keyframes r {
    100% {
        -webkit-transform: rotate(-15deg) translate(-5px, -30px);
                transform: rotate(-15deg) translate(-5px, -30px);
    }
}

@-webkit-keyframes e2 {
    100% {
        -webkit-transform: rotate(-5deg) translate(0px, -29px);
                transform: rotate(-5deg) translate(0px, -29px);
    }
}

@keyframes e2 {
    100% {
        -webkit-transform: rotate(-5deg) translate(0px, -29px);
                transform: rotate(-5deg) translate(0px, -29px);
    }
}

@-webkit-keyframes s {
    100% {
        -webkit-transform: rotate(15deg) translate(0px, -29px);
                transform: rotate(15deg) translate(0px, -29px);
    }
}

@keyframes s {
    100% {
        -webkit-transform: rotate(15deg) translate(0px, -29px);
                transform: rotate(15deg) translate(0px, -29px);
    }
}

@-webkit-keyframes u {
    100% {
        -webkit-transform: rotate(25deg) translate(5px, -30px);
                transform: rotate(25deg) translate(5px, -30px);
    }
}

@keyframes u {
    100% {
        -webkit-transform: rotate(25deg) translate(5px, -30px);
                transform: rotate(25deg) translate(5px, -30px);
    }
}

@-webkit-keyframes m {
    100% {
        -webkit-transform: rotate(50deg) translate(2px, -31px);
                transform: rotate(50deg) translate(2px, -31px);
    }
}

@keyframes m {
    100% {
        -webkit-transform: rotate(50deg) translate(2px, -31px);
                transform: rotate(50deg) translate(2px, -31px);
    }
}

@-webkit-keyframes e3 {
    100% {
        -webkit-transform: rotate(70deg) translate(2px, -33px);
                transform: rotate(70deg) translate(2px, -33px);
    }
}

@keyframes e3 {
    100% {
        -webkit-transform: rotate(70deg) translate(2px, -33px);
                transform: rotate(70deg) translate(2px, -33px);
    }
}

@-webkit-keyframes resume {
    100% {
        -webkit-transform: none;
                transform: none;
    }
}

@keyframes resume {
    100% {
        -webkit-transform: none;
                transform: none;
    }
}

/*start title animation*/
@-webkit-keyframes bounce {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
                animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
    }
    0% {
        -webkit-transform: translate3d(0, -3000px, 0);
                transform: translate3d(0, -3000px, 0);

        opacity: 0;
    }
    60% {
        -webkit-transform: translate3d(0, 25px, 0);
                transform: translate3d(0, 25px, 0);

        opacity: 1;
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
                transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
                transform: translate3d(0, 5px, 0);
    }
    to {
        -webkit-transform: none;
                transform: none;
    }
}
@keyframes bounce {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
                animation-timing-function: cubic-bezier(.215, .610, .355, 1.000);
    }
    0% {
        -webkit-transform: translate3d(0, -3000px, 0);
                transform: translate3d(0, -3000px, 0);

        opacity: 0;
    }
    60% {
        -webkit-transform: translate3d(0, 25px, 0);
                transform: translate3d(0, 25px, 0);

        opacity: 1;
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
                transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
                transform: translate3d(0, 5px, 0);
    }
    to {
        -webkit-transform: none;
                transform: none;
    }
}

/*end title animation*/
/*orange blocks*/
.cl-effect-2 {
    font-family: lato;
    font-size: 15px;
    font-weight: 900;

    position: relative;

    display: inline-block;

    margin: 0 0 0 35px;
    span {
        line-height: 50px;

        position: relative;

        display: inline-block;

        width: 120px;
        height: 70px;
        margin: 0 0 0 -2px;
        padding: 0 0 0 0;

        letter-spacing: 1.6px;
        text-transform: uppercase;

        color: white;
    }
}

.title {
    display: inline-block;
    float: left;

    text-shadow: 0 0 6px rgba(255, 255, 255, .7);
}

/*COLUMNS*/
.wrap-info {
    display: inline-block;

    margin: 0 0 10px 0;
    padding: 20px 5px 15px 0;

    border-bottom: 1px solid white;
    background: rgba(299, 299, 230, .1);
}

.left-col {
    display: inline-block;
    float: left;

    box-sizing: border-box;
    width: 50%;
    margin: 0 0 0 0;
    padding: 0 0 0 -40px;

    border-right: 1px solid white;
}

.right-col {
    display: inline-block;
    float: right;

    box-sizing: border-box;
    width: 50%;
    margin: 0 0 0 0;
    padding: 0;
}

/*EXPERIENCE*/
.work-info {
    text-align: right;

    text-shadow: 1px 1px 1px white;
    p {
        margin: 0 30px 0 0;
        padding: 0 0 0 0;
    }
}

.exp-cont {
    font-family: aq;

    margin: 0 0 0 36px;
}

.outsourcing {
    h4 {
        font-weight: bold;

        margin: -20px 0 10px 0;
        padding: 0 0 0 0;

        text-shadow: 1px 1px 1px white;
    }
}

.goantifroud,
.dizaap {
    h4 {
        font-weight: bold;

        float: left;

        width: 150px;
        padding: 25px 0 10px 0;
    }
}

.respons {
    li {
        font-family: aq;
        font-size: 16px;

        padding: 0 50px 0 30px;

        list-style-type: none;

        text-align: justify;
    }
    li:before {
        padding-right: 20px;

        content: '➤';

        color: $orange;
        /* Добавляем в качестве маркера символ */
    }
}

.sepor {
    width: 250px;
    margin: 5px 5px 5px auto;

    text-align: right;
}

.out-sepor {
    width: 200px;
    margin: 0 0 0 auto;
}

/*SLIDER & EDUCATION*/
.education {
    font-size: 13px;

    display: inline-block;
    float: left;

    margin: 20px 0 0 40px;
}

.education-cont {
    display: inline-block;
    float: left;

    box-sizing: border-box;
    width: 200px;

    text-align: left;
    hr {
        width: 60px;
        margin: 0 0 0 20px;
        padding: 0;
    }
    p {
        font-family: aq;
        font-size: 15px;

        margin: 5px 0 5px 10px;
    }
}

.education-img {
    display: inline-block;
    float: left;

    width: 200px;
    margin-left: 0;
    padding: 0;
    img {
        float: left;

        width: 160px;
        height: 130px;
        margin: -10px 0 0 20px;
        padding: 5px;
    }
}

.git-hub {
    font-family: aleks;
    font-size: 14px;

    display: inline-block;

    height: 70px;
    margin-left: 13%;
    padding: 10px;

    color: $blue;
    border-top: 1px solid $blue;
    border-bottom: 1px solid $blue;
    span {
        font-size: 13px;

        color: black;
    }
}

/*slider*/
.wrap-carousel {
    width: 480px;
    height: 150px;
    margin: 15px 0 0 68px;
    padding: 0 0 0 0;

    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.carousel-indicators {
    top: 80%;
}

.left-arr {
    position: absolute;
    top: 35%;

    width: 45px;
    height: 45px;
}

.right-arr {
    position: absolute;
    top: 35%;
    right: 4%;

    width: 45px;
    height: 45px;
}

/*SKILLS*/
.wrap-skills {
    display: inline-block;

    box-sizing: border-box;
    margin-top: 20px;

    border-bottom: 1px solid white;
}

.skills {
    margin: 0 0 20px 210px;
    li {
        width: 338px;
        height: 20px;
        margin-bottom: 5px;

        list-style-type: none;

        border: 1px solid $orange;
        div {
            font-family: aleks;
            font-weight: bold;

            width: 0;
            height: 100%;
            padding-left: 35px;

            -webkit-transition: width 5s;
                    transition: width 5s;

            color: #454141;
            background: $orange;
        }
    }
}

/*ABOUT ME*/
.wrap-aboutme {
    margin: 20px 0 0 0;
}

.about-text {
    font-family: aq;
    font-size: 16px;

    display: inline-block;

    padding: 10px 0 0 10px;
    p {
        padding: 0 30px 0 70px;
    }
    ul {
        margin-left: 100px;
    }
}

/*CONTACT*/
footer {
    display: inline-block;

    width: 100%;
    margin: 30px 0 20px 0;
}

.wrap-contact {
    display: inherit;

    width: inherit;
}

.wrap-title {
    display: inherit;
    float: left;

    width: 20%;
}

.contact {
    display: inherit;

    width: 80%;
    div {
        font-family: lato;
        font-weight: bold;

        float: left;

        height: 70px;
        margin-left: 3%;
        padding: 10px 5px 0 0;

        text-align: left;

        color: #454141;
        background-color: $orange;
        img {
            width: 45px;
            height: 45px;
            margin: 0 10px 0 -15px;
        }
    }
}

@media (max-width: 1260px) {
    .contact {
        width: 100%;
    }
}

@media (max-width: 1260px) and (min-width: 1200px) {
    /* для разрешения экрана от 470 до 930 пикселей */
    .wrap-title {
        display: none;
    }
    /* боковая колонка смещается согласно расположению в HTML и меняет фон */
}

@media (max-width: 756px) {
    .mail {
        display: none;
    }
}

@media (max-width: 768px) {
    .skills {
        margin-left: 10px;
    }
}

@media (max-width: 793px) {
    .skipe {
        display: none;
    }
}

.footer2 {
    height: 900px;
}

.footer3 {
    width: 100px;
    height: 100px;
    margin: 200px;
}
