@import "modules";
@import "fonts";
$orange: #FFC600;
$blue: #006C90;
header {
    text-align: center;
    background: url(../img/head.png) repeat;
    height: 180px;
    margin: -60px -100px -30px -100px;
    border-bottom: 2px solid #eeeeee;
}

a {
    color: #006C90;
    text-shadow: none;
    font-weight: 800;
}

hr {
    background-color: white !important;
}

.name {
    text-align: center;
    font-family: bebasneue;
    padding-top: 75px;
    h1 {
        font-weight: bold;
        margin: 0px 0 0 0;
        padding: 5px 0 0 0;
        color: black;
        text-shadow: 1px 1px 1px white;
        animation-duration: 1.5s;
        animation-name: bounce;
        animation-timing-function: ease-out;
    }
}

.lines {
    display: inline-block;
    border-top: 2px solid $orange;
    border-bottom: 2px solid $orange;
    width: 110px;
    position: relative;
    height: 25px;
    font-weight: bold;
    font-size: 16px;
    background: #e3e3e3;
    z-index: 10;
}

.tel {
    z-index: 11;
    margin-top: -25px;
    font-weight: bold;
    font-size: 17px;
    animation: tel 2s ease-out forwards;
}

.tel:hover {
    font-size: 22px;
}

@keyframes tel {
    100% {
        transform: translate(0, 25px)
    }
}

.resume {
    color: black;
    text-shadow: 1px 1px 1px white;
    position: relative;
    b {
        position: absolute;
    }
}

//start the resume animation
.t {
    animation: t 1.2s ease-out forwards;
}

.h {
    animation: h 1.5s ease-out forwards;
}

.e {
    animation: e 1.3s ease-out forwards;
}

.r {
    animation: r 1.6s ease-out forwards;
}

.e2 {
    animation: e2 1.4s ease-out forwards;
}

.s {
    animation: s 1.7s ease-out forwards;
}

.u {
    animation: u 1.5s ease-out forwards;
}

.m {
    animation: m 1.8s ease-out forwards;
}

.e3 {
    animation: e3 1.6s ease-out forwards;
}

@keyframes t {
    100% {
        transform: rotate(-70deg) translate(-4px, -36px);
    }
}

@keyframes h {
    100% {
        transform: rotate(-50deg) translate(-8px, -35px);
    }
}

@keyframes e {
    100% {
        transform: rotate(-35deg) translate(-7px, -32px);
    }
}

@keyframes r {
    100% {
        transform: rotate(-15deg) translate(-5px, -30px);
    }
}

@keyframes e2 {
    100% {
        transform: rotate(-5deg) translate(0px, -29px);
    }
}

@keyframes s {
    100% {
        transform: rotate(15deg) translate(0px, -29px);
    }
}

@keyframes u {
    100% {
        transform: rotate(25deg) translate(5px, -30px);
    }
}

@keyframes m {
    100% {
        transform: rotate(50deg) translate(2px, -31px);
    }
}

@keyframes e3 {
    100% {
        transform: rotate(70deg) translate(2px, -33px);
    }
}

@keyframes resume {
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

//start title animation
@keyframes bounce {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    75% {
        transform: translate3d(0, -10px, 0);
    }
    90% {
        transform: translate3d(0, 5px, 0);
    }
    to {
        transform: none;
    }
}

//end title animation 
//orange blocks
.cl-effect-2 {
    position: relative;
    display: inline-block;
    font-size: 15px;
    margin: 0px 0 0 35px;
    font-family: lato;
    font-weight: 900;
    span {
        position: relative;
        display: inline-block;
        height: 70px;
        width: 120px;
        color: white;
        padding: 0 0px 0px 0;
        margin: 0 0px 0 -2px;
        text-transform: uppercase;
        line-height: 50px;
        letter-spacing: 1.6px;
    }
}

.title {
    display: inline-block;
    float: left;
}

//COLUMNS
.wrap-info {
    display: inline-block;
    border-bottom: 1px solid white;
}

.wrap-columns {
    box-sizing: border-box;
    padding: 20px 0 15px 0;
    margin: 30px 0 10px 0;
}

.left-col {
    display: inline-block;
    width: 50%;
    border-right: 1px solid white;
    margin: 0px 0 0 0;
    padding: 0;
    box-sizing: border-box;
    float: left;
}

.right-col {
    display: inline-block;
    width: 50%;
    margin: 0px 0 0 0;
    padding: 0;
    box-sizing: border-box;
    float: right;
}

//EXPERIENCE
.work-info {
    text-align: right;
    text-shadow: 1px 1px 1px white;
    p {
        margin: 0 30px 0 0px;
        padding: 0 0 0 0px;
    }
}

.exp-cont {
    margin: 0 0px 0 36px;
    font-family: aq;
}

.outsourcing {
    h4 {
        margin: -20px 0 10px 0;
        padding: 0px 0 0 0px;
        font-weight: bold;
        text-shadow: 1px 1px 1px white;
    }
}

.goantifroud,
.dizaap {
    h4 {
        padding: 25px 0 10px 0px;
        font-weight: bold;
        width: 150px;
        float: left;
    }
}

.respons {
    li {
        text-align: justify;
        padding: 0 50px 0 30px;
        list-style-type: none;
        font-size: 15px;
        font-family: aq;
    }
    li:before {
        content: "➤";
        color: $orange;
        padding-right: 20px;
        /* Добавляем в качестве маркера символ */
    }
}

.sepor {
    width: 250px;
    text-align: right;
    margin: 5px 5px 5px auto;
}

.out-sepor {
    margin: 0 0 0px auto;
    width: 250px;
}

//SLIDER & EDUCATION
.education {
    margin: 20px 0px 0px 50px;
    font-size: 13px;
    float: left;
    &>div {
        text-align: left;
        float: left;
        box-sizing: border-box;
        hr {
            width: 60px;
            margin: 0 0 0 20px;
            padding: 0;
        }
        p {
            margin: 5px 50px 5px 10px;
            font-family: aq;
            font-size: 15px;
        }
    }
    img {
        height: 130px;
        width: 160px;
        margin: -10px 20px 10px -30px;
        padding: 5px;
    }
}

.git-hub {
    display: inline-block;
    height: 70px;
    border-top: 1px solid $blue;
    border-bottom: 1px solid $blue;
    padding: 10px;
    font-size: 14px;
    font-family: aleks;
    margin-left: 13%;
    color: $blue;
    span {
        font-size: 13px;
        color: black;
    }
}

//slider
.wrap-carousel {
    margin: 15px 0px 0px 68px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0 0 0 0px;
    width: 480px;
    height: 150px;
}

.carousel-indicators {
    top: 80%;
}

.left-arr {
    position: absolute;
    height: 45px;
    width: 45px;
    left: -5%;
    top: 32%;
}

.right-arr {
    position: absolute;
    height: 45px;
    width: 45px;
    right: -5%;
    top: 32%;
}

//SKILLS
.wrap-skills {
    display: inline-block;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    margin-top: 20px;
}

.skills {
    margin: 0px 0 20px 210px;
    li {
        height: 20px;
        width: 338px;
        border: 1px solid $orange;
        list-style-type: none;
        margin-bottom: 5px;
        div {
            font-family: aleks;
            height: 100%;
            width: 0;
            background: $orange;
            padding-left: 35px;
            color: #454141;
            transition: width 5s;
            font-weight: bold;
        }
    }
}

//ABOUT ME
.wrap-aboutme {
    margin: 20px 0 0 0;
}

.about-text {
    display: inline-block;
    padding: 10px 0 0 10px;
    font-family: aleks;
    p {
        padding: 0px 30px 0 70px;
    }
    ul {
        margin-left: 100px;
    }
}

//CONTACT
footer {
    display: inline-block;
    width: 100%;
    margin: 30px 0px 20px 0;
}

.contact {
    display: inline-block;
    div {
        height: 70px;
        background-color: $orange;
        float: left;
        color: #454141;
        font-weight: bold;
        margin: 0px 0px 0 40px;
        padding: 15px 15px 0 0;
        font-family: lato;
        text-align: left;
        img {
            height: 45px;
            width: 45px;
            margin: 0 10px 0 -8px;
        }
    }
}
